/* .form {
  display: flex;
  justify-content: space-evenly;
} */
/* body{
  height: 1000px;
} */

/* .eng {
  display: flex;
  justify-content: space-evenly;
}
#sub {
  display: flex;
  justify-content: center;
} */
* {
  margin: 0%;
  background-color: #dad8d7;
  font-weight: bold;
  font-family: sans-serif;
}
.header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  align-items: center;
  padding-left: 40px;
}
.title {
  background-color: #ffffff;
  color: #1e9b28c0;
}
.menu {
  background-color: #ffffff;
  display: flex;
  align-content: center;
  height: auto;
  width: 30%;
}
.menu li {
  list-style: none;
  background-color: #ffffff;
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
}
.menu:hover {
  height: 100%;
}

.menu li:hover {
  background-color: #1e9b28c0;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.content {
  font-size: 100%;
  text-align: center;
  height: 74px;
  width: 250px;
  border: #ffffff solid;
  background-color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #1e9b28c0;
  color: #ffffff;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}
